@import "tailwindcss";

@theme {
  --spacing-container: 1320px; 
  --text-50p: 50px; 

   --font-san: "Open Sans"; 
   --font-robo: "Roboto"; 

   --color-first: #E3E3E3;
   --color-second: #1E2832;
   --color-third: #0000001a;
}

